body{
	
	background-image: url("../background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height:100%;

}

body::after{
	content:"";
	background-color: black;
	opacity: 0.8;
	top:0;
	left:0;
	bottom:0;
	right:0;
	position: absolute;
	z-index: -1;
}
header{
	padding-top:20px;
}
#logo{
	width:6%;
	margin-left:1%;
}
nav{
	display:inline-block;
	width:89%;
	color:white;
	
	text-align:right;
}
nav li{
	display:inline-block;
	margin-right:150px;
}
nav a{
	font-size:1.5em;
	text-decoration:none;
}
.welcome-sign h2{
	max-width: 350px;
	margin:10% auto 0;
	padding-bottom: 0px;
	padding-left: 25px;
	margin-top: 60px;
	color:white;
	font-family: sans-serif;
	box-sizing: border-box;
}

.radio-title{
	max-width: 300px;
	margin:5% auto 0;
	padding-bottom: 2px;
	font-family: sans-serif;
	color:white;
}

.booking-form-box{
	max-width: 350px;
	border: 1px solid #ced4da;
	margin: 10% auto 0;
	margin-top:10px;
}

.radio-btn{
	margin: 0 20px;
	color: #fff;
}

.radio-btn .btn{
	margin: 20px 10px 20px 0;
	box-shadow: none;
}

.radio-btn .btn::after{
	content: '';
	height: 15px;
	width: 15px;
	top: -2px;
	left: -1px;
	background-color: #fff;
	position: relative;
	display: inline-block;
	border: 3px solid #fff;
	visibility: visible;
	border-radius: 50%;
}

.radio-btn .btn:checked::after{
	content: '';
	background-color: #000;
	transition: 0.5s;
}

.radio-btn span{
	color:#fff;
	margin-right: 5px;
	font-size: 12px;
}

.booking-form{
	padding: 0 20px 20px;
}

.booking-form label{
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 12px;
	color: #fff;
}

.input-grp{
	width: 151px;
	display: inline-block;
}

.input-grp button{
	margin-top: 25px;
}

.form-control{
	font-size: 12px;
	border-radius: 0;
	color: #fff;
	background: transparent;
	box-shadow: none;
}
.container{
	
}
.tabletype{
	margin-top:10%;
	margin-left:1.5%;
	margin-right:1.5%;
	border:1px solid black;
	display:inline-block;
	width:30%;
	position:relative;
	text-align:center;
	color:white;
	box-shadow: 5px 5px #222222;
}
.reguler{
	background:url("../reguler.jpg") no-repeat;
	background-size:cover;
	background-position:center;
	height:600px;
}
.balcony{
	background:url("../balcony.jpg") no-repeat;
	background-size:cover;
	background-position:center;
	height:600px;
}
.vip{
	background:url("../vip.jpg") no-repeat;
	background-size:cover;
	background-position:center;
	height:600px;
}
.desc{
	position:absolute;
	background-color:rgba(0,0,0,0.5);
	height:50%;
	color:white;
	font-size:1.5em;
	width:100%;
	bottom:0;
	text-align:center;
	padding:1%;
}
.choosetable{
	padding-top:50px;
	margin-left:45%;
	margin-right:auto;
}
.big{
	font-size:2em;
}
.tablebutton{
	padding:4px 20px 4px 20px;
	border-radius:10px;
}